Checks: '-*,
modernize-*, 
	-modernize-avoid-c-arrays,
HeaderFilterRegex: 'src/.*|examples/.*'
WarningsAsErrors: '*'
ExtraArgs: - -Wno-unknown-pragmas # TODO: remove this after switch to clang-tidy-18
