Checks: '-*,
modernize-*, 
	-modernize-use-using, 
	-modernize-pass-by-value, 
	-modernize-use-auto, 
	-modernize-return-braced-init-list, 
	-modernize-loop-convert, 
	-modernize-use-trailing-return-type, 
	-modernize-type-traits, 
	-modernize-use-equals-delete, 
	-modernize-use-nodiscard, 
	-modernize-use-equals-default, 
	-modernize-use-default-member-init, 
	-modernize-concat-nested-namespaces, 
	-modernize-make-unique, 
	-modernize-use-emplace, 
	-modernize-use-transparent-functors, 
	-modernize-raw-string-literal'
HeaderFilterRegex: 'src/.*|examples/.*'
WarningsAsErrors: '*'
ExtraArgs: - -Wno-unknown-pragmas # TODO: remove this after switch to clang-tidy-18
