# These are unit test files and should use crlf
*.ASC text eol=crlf
*.asc text eol=crlf
*.txt text eol=crlf
*.GPS text eol=crlf
*.gps text eol=crlf
*.BIN -text

# another way of doing
#  git config --global core.autocrlf false
# help: https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#_formatting_and_whitespace
#       https://git-scm.com/docs/gitattributes
# exmaple .gitattributes file: https://github.com/alexkaratarakis/gitattributes
#
