.vs/
.vscode/
.idea/
build/
docs/build
bin/
CMakeSettings.json
CMakeUserPresets.json
/include/novatel_edie/version.h
edie.*.log
edie.log
dist/
venv/
*.egg-info
__pycache__/
.pytest_cache/
wheelhouse/
