.vs/
.vscode/
.idea/
build/
docs/build
bin/
out/
CMakeFiles/
**.cmake
**.dir/
Debug/
conan_host_profile
CMakeSettings.json
CMakeUserPresets.json
/include/novatel_edie/version.h
edie.*.log
edie.log
dist/
venv/
.venv/
*.egg-info
__pycache__/
.pytest_cache/
wheelhouse/
*.vcxproj
*.vcxproj.filters
CMakeFiles/
**/CMakeFiles/**
*.cmake
*.sln
ConanPresets.json
